node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
dummy-contract-subgraph/.DS_Store
dummy-contract-subgraph/build/DummyContract/DummyContract.wasm
